ion-tab-bar {
    background: #ffffff;
    box-shadow: 0px 4px 15px 10px rgb(1 28 64 / 20%);
    border-top: none;
}

ion-tab-bar img {
    width: 29px;
    margin-top: 5px;
}

.nomeImg {
    font-size: 10px;
}