<ion-header [translucent]="true">
    <ion-toolbar color="light">
        <ion-title>
            <img src="./../../assets/logo.png" alt="Logo pokémon" />
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">
        <img src="./../../assets/banner.svg" alt="Banner Pokémon" />

        <div class="textos">
            <h1>
                Qual pokemon você escolheria?
                <div class="retangulo"></div>
            </h1>
            <p>
                Você pode saber o tipo de Pokémon, seus pontos fortes, fracos e habilidades.
            </p>
            <div class="btn">
                <p>Veja os pokémons</p>
            </div>
        </div>
    </div>
</ion-content>